{% extends 'base.html' %}

{% block content %}

<li><p>Русское название: {{ anime_obj.name_ru }}</p></li>
<li><p>Английское название: {{ anime_obj.name_en }}</p></li>
<li><p>Японское название: {{ anime_obj.name_jp }}</p></li>
<li><p>Жанр:</p></li>
{% for g in genre %}
<li><a href="{{ g.get_absolute_url }}">{{ g.name }}</a></li>
{% endfor %}
<li><p>Количество эпизодов: {{ anime_obj.episodes }} эп.</p></li>
<li><p>Год выпуска: <a href="{{ anime_obj.year.get_absolute_url }}">{{ anime_obj.year }} г.</a></p></li>
<li><p>Режиссер:</p></li>
{% for p in producer %}
<li><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></li>
{% endfor %}
<li><p>Автор оригинала: <a href="{{ anime_obj.author.get_absolute_url }}">{{ anime_obj.author }}</a></p></li>
<li><p>Теги:</p></li>
{% for t in tag %}
<li><a href="{{ t.get_absolute_url }}">{{ t.tag }}</a></li>
{% endfor %}
<li><p>Студия: <a href="{{ anime_obj.studio.get_absolute_url }}">{{ anime_obj.studio.name }}</a></p></li>
<li><p>Краткое описание: {{ anime_obj.description }}</p></li>


{% endblock content %}