{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'anime/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'anime/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
			body {
			background: #fff2be url("{% static 'anime/images/tumblr_222.jpg' %}");
			color: 	#000000;
			background-attachment: fixed;
			background-repeat: repeat-x;
			}
		</style>
</head>
<body>
<table align="center" bgcolor="#fff2be" width="70%">
<tr><td>
{% block mainmenu %}
		<div>
			<ul id="mainmenu" class="mainmenu">
			<li><a href="{% url 'index' %}"><div class="logo"></div></a></li>
			{% for m in menu %}
<!--			{% if not forloop.last %}<li>{% else %}<li class="last">{% endif %}-->
				<li><a href="{% url m.url_name %}">{{m.title}}</a></li>
			{% endfor %}
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}
</td>
<table align="center" bgcolor="#ffffff" cellpadding="10" cellspacing="10" width="70%">
<tr><td>
<!-- Блок контента -->
{% block content %}
{% endblock %}
<!-- Конец блока контента -->
</td>
</tr>
</table>
</tr>

</body>
</html>